version: '3'
services:
  python:
    build:
      context: .
      dockerfile: "./app.Dockerfile"
    image: "dzmitry/byn-app"
    ports:
      - "5000:5000"
    volumes:
      - ./byn/:/byn/:ro
    environment:
      - CELERY_BROKER_URL=redis://redis
      - CELERY_RESULT_BACKEND=redis://redis
      - CASSANDRA_HOSTS=cassandra_1,cassandra_2
      - CASSANDRA_PORT=9042
      - REDIS_CACHE_HOST=redis

  redis:
    image: "redis:5-alpine3.8"
    ports:
      - "6379:6379"

  celery:
    build:
      context: .
      dockerfile: "./celery.Dockerfile"
    image: "dzmitry/byn-celery"
    ports:
      - "5555:5555" # flower
    volumes:
      - ./byn/:/byn/:ro
    environment:
      - CELERY_BROKER_URL=redis://redis
      - CELERY_RESULT_BACKEND=redis://redis
      - CASSANDRA_HOSTS=cassandra_1,cassandra_2
      - CASSANDRA_PORT=9042
      - C_FORCE_ROOT=true
      - REDIS_CACHE_HOST=redis
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}

  cassandra_1:
    image: "cassandra:3.11"
    ports:
      - "19042:9042/tcp"
    environment:
      - CASSANDRA_SEEDS=cassandra_2
      - CASSANDRA_CLUSTER_NAME=byn
    volumes:
      - ./mount/cassandra_1:/var/lib/cassandra

  cassandra_2:
    image: "cassandra:3.11"
    ports:
      - "29042:9042/tcp"
    environment:
      - CASSANDRA_SEEDS=cassandra_1
      - CASSANDRA_CLUSTER_NAME=byn
    volumes:
      - ./mount/cassandra_2:/var/lib/cassandra
