version: '2.2'
services:
  nginx:
    image: "nginx:alpine"
    ports:
      - ${HOST_MAIN_PORT}:80
    volumes:
      - ./html:/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - python
      - celery

  python:
    build:
      context: .
      dockerfile: "./app.Dockerfile"
    image: "dzmitry/byn-app"
    volumes:
      - ./byn/:/byn/:ro
    environment:
      - CELERY_BROKER_URL=redis://redis
      - CELERY_RESULT_BACKEND=redis://redis
      - REDIS_URL=redis://redis
      - POSTGRES_HOST=${POSTGRES_HOST:-postgres}
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_DB=${POSTGRES_DB:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - BACKUP_BUCKET=${BACKUP_BUCKET:-byn-dzmitry-by-backup}
      - SENTRY_DSN=${SENTRY_DSN}
      - SENTRY_ENVIRONMENT=${SENTRY_ENVIRONMENT}
    depends_on:
      - postgres
      - redis

  celery:
    build:
      context: .
      dockerfile: "./celery.Dockerfile"
    image: "dzmitry/byn-celery"
    ports:
      - ${HOST_FLOWER_PORT}:5555
    volumes:
      - ./byn/:/byn/:ro
    environment:
      - CELERY_BROKER_URL=redis://redis
      - CELERY_RESULT_BACKEND=redis://redis
      - REDIS_URL=redis://redis
      - POSTGRES_HOST=${POSTGRES_HOST:-postgres}
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_DB=${POSTGRES_DB:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - C_FORCE_ROOT=true
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - FLOWER_BASIC_AUTH=${FLOWER_BASIC_AUTH}
      - BACKUP_BUCKET=${BACKUP_BUCKET:-byn-dzmitry-by-backup}
      - SENTRY_DSN=${SENTRY_DSN}
      - SENTRY_ENVIRONMENT=${SENTRY_ENVIRONMENT}
    depends_on:
      - postgres
      - redis

  redis:
    image: "redis:5-alpine3.8"
    ports:
      - "${HOST_REDIS_PORT:-6379}:6379"

  postgres:
    image: "postgres:11-alpine"
    ports:
      - "${HOST_POSTGRES_PORT:-6432}:5432"

    environment:
      - POSTGRES_HOST=${POSTGRES_HOST:-postgres}
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_DB=${POSTGRES_DB:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

    volumes:
      - ./mount/postgres:/var/lib/postgresql/data
