version: '3'
services:
  python:
    build:
      context: .
      dockerfile: "./app.Dockerfile"
    image: "dzmitry/byn-app"
    ports:
      - "5000:5000"
    volumes:
      - ./app/:/app/:ro
    environment:
      - CASSANDRA_HOSTS=${CASSANDRA_HOSTS:-cassandra_1,cassandra_2}
      - CASSANDRA_PORT=${CASSANDRA_PORT}

  redis:
    image: "redis:5-alpine3.8"
    ports:
      - "6379:6379"

  celery:
    build:
      context: .
      dockerfile: "./celery.Dockerfile"
    image: "dzmitry/byn-celery"
    ports:
      - "5555:5555" # flower
    volumes:
      - ./celery/:/celery/:ro
    environment:
      - CELERY_BROKER_URL=${CELERY_BROKER_URL}
      - CELERY_RESULT_BACKEND=${CELERY_RESULT_BACKEND}
      - CASSANDRA_HOSTS=${CASSANDRA_HOSTS:-cassandra_1,cassandra_2}
      - CASSANDRA_PORT=${CASSANDRA_PORT}

  cassandra_1:
    image: "cassandra:3.11"
    ports:
      - "19042:9042/tcp"
    environment:
      - CASSANDRA_SEEDS=cassandra_2
      - CASSANDRA_CLUSTER_NAME=byn
    volumes:
      - byn.dzmitry.cassandra_1:/var/lib/cassandra

  cassandra_2:
    image: "cassandra:3.11"
    ports:
      - "29042:9042/tcp"
    environment:
      - CASSANDRA_SEEDS=cassandra_1
      - CASSANDRA_CLUSTER_NAME=byn
    volumes:
      - byn.dzmitry.cassandra_2:/var/lib/cassandra

volumes:
  byn.dzmitry.cassandra_1:
  byn.dzmitry.cassandra_2:
